<header>
        <nav class="container">
            <div class="logo">TV<span>Online</span></div>
            <ul class="nav-links">
                <li><a href="{{ '/' | relative_url }}" class="active">Home</a></li>
                <li><a href="#">Live TV</a></li>
                <li><a href="#">Kategori</a></li>
                <li><a href="#">Favorit</a></li>
            </ul>
            <div class="nav-auth">
                <a href="#" class="btn-register"><i class="fa-solid fa-user"></i> Registrasi</a>
            </div>
        </nav>
    </header>

<!-- site-header -->
