 <div class="card"><div class="lazy" data-bg="{{ '/assets/img/Astro-Awani.webp' | relative_url }}" data-bg-hidpi="{{ '/assets/img/Astro-Awani.webp' | relative_url }}"></div></div> <div class="card"><div class="lazy" data-bg="/assets/img/Didik-TV.webp" data-bg-hidpi="/assets/img/Didik-TV.webp"></div></div> <div class="card"><div class="lazy" data-bg="/assets/img/RTM-Parlimen.webp" data-bg-hidpi="/assets/img/RTM-Parlimen.webp"></div></div> <div class="card"><div class="lazy" data-bg="/assets/img/TV1.webp" data-bg-hidpi="/assets/img/TV1.webp"></div></div> <div class="card"><div class="lazy" data-bg="/assets/img/TV3.webp" data-bg-hidpi="/assets/img/TV3.webp"></div></div> <div class="card"><div class="lazy" data-bg="/assets/img/TV-Sarawak.webp" data-bg-hidpi="/assets/img/TV-Sarawak.webp"></div></div> <div class="card"><div class="lazy" data-bg="lazy.jpg" data-bg-hidpi="lazy@2x.jpg"></div></div>
<style>.box-card { padding: 0; display: grid; gap: 0.5rem; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));font-family: system-ui, sans-serif; box-sizing: border-box; justify-items: center;}.card { width: 150px; height: 80px; background: #fff; border-radius: 6px; text-align: center; display: flex; align-items: center; justify-content: center;}.card:hover { transform: translateY(-4px); box-shadow: 0 4px 8px #00000026, 0 6px 20px #00000030;}.lazy { width: 150px; height: 80px; background-size: cover; background-position: center; border-radius: 6px;}
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll('.lazy').forEach(el => {
      const dpr = window.devicePixelRatio > 1 ? el.dataset.bgHidpi : el.dataset.bg;
      el.style.backgroundImage = `url(${dpr})`;
    });
  });
</script>
